<ion-app >
  <ion-menu side="start" content-id="main-content" >
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #FFF7E9;" >
      <ion-list>
        <ion-item style="--background: #FFF7E9;cursor: pointer;">
          <ion-icon name="person" slot="start" style="color:#1746A2;"></ion-icon>
          <ion-label style="font-size: 16px;font-weight: bold;color:#5F9DF7" [routerLink]="['/profile']">Profile</ion-label>
        </ion-item>
        <ion-item style="--background: #FFF7E9;cursor: pointer;margin-top: 10px;">
          <ion-icon name="star" slot="start" style="color:#1746A2;"></ion-icon>
          <ion-label style="font-size: 16px;font-weight: bold;color:#5F9DF7" [routerLink]="['/subscriptions']">Subscriptions</ion-label>
        </ion-item>
        <ion-item  style="--background: #FFF7E9;cursor: pointer;margin-top: 10px;">
          <ion-icon name="log-in" slot="start" style="color:#1746A2;"></ion-icon>
          <ion-label style="font-size: 16px;font-weight: bold;color:#FF731D" (click)="authService.SignOut()"
            >Sign out</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content" >
    <ion-header >
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>City List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"  >
      <ion-card *ngFor="let city of cities" style="background-color: #FFF7E9;margin-top: 50px;cursor: pointer;" (click)="moreDetails(city)" >
        <img
          src="{{city.imageUrl}}"
          style="height: 200px; width: 100%; object-fit: cover"
        />
        <ion-card-header>
          <ion-card-title style="color: #FF731D;font-size: 46px;font-weight: bolder;text-align: center;">{{city.name}}</ion-card-title>
          <ion-card-subtitle style="color: #5F9DF7;font-size: 22px;font-weight: bold;text-align: center;">Region: {{city.region}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content style="color: #1746A2;font-size: 20px;margin-top: 20px;"> {{city.description}} </ion-card-content>

      </ion-card>
    </ion-content>
  </div>
</ion-app>
