.auth-form {
  display: flex !important;
  align-content: center !important;
  height: 100vh;
  align-items: center !important;
  background-image: url("../../assets/Chefchaouen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.already {
  margin-top: 2rem;
  display: block;
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}
